body {
    width: auto;
    margin: 0 auto;
    background-color: #FFFFFF;
    font: 12px sans-serif;
    color: #434343

}
h1{
    background:#0DD3FB;
    margin:0px;
    padding: 80px 0px 45px 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    color: #E84EB5;
        
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    margin: 0px;
    padding: 30px 500px 0px 500px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 10px 500px 0px 500px;
}

p{
    margin: 0px;
    padding: 10px 500px 0px 500px;
    text-align: justify; 
    font-family: 'Open Sans', sans-serif;
}


ul {
    color: #434343;
    margin: 0px;
    padding: 0px 500px 0px 500px;
    font-family: 'Open Sans', sans-serif;
        
}

a:link{
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    color: #434343
}

a:visited{
    color: #E84EB5;
}

a:focus,
a:hover{
    text-decoration: none;
    color: #0DD3FB;
}

a:active{
    color: #0DD3FB;
}